footer.app-footer
  div
    a(href='http://pipet.xyz') Pipet
    span
      | &copy; 2018 ethernerve inc
  div.ml-auto
    span
      | Developed by Prabhu Velayutham
    a(href='http://ethernerve.com') (Ethernerve Inc)
