header.app-header.navbar
  a(href="/")
    img(src="images/pipet_logo.png" width="90" height="55" alt="Pipet Logo")
  div.text-center
    h2 Browsing Liquidity Network Hub
  .pull-right
    select#hubid.form-control
      option(selected=true) beta.liquidity.network