meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(name='description', content='Pipet - Browser for Liquid Network')
meta(name='author', content='Prabhu Velayutham')
meta(name='keyword', content='Liquid Network, Pipet, Ethereum')
title Pipet - Browser for Liquid Network

// Icons
// link(href='node_modules/@coreui/icons/css/coreui-icons.min.css', rel='stylesheet')
// link(href='node_modules/flag-icon-css/css/flag-icon.min.css', rel='stylesheet')
// link(href='node_modules/font-awesome/css/font-awesome.min.css', rel='stylesheet')
// link(href='node_modules/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
  
// Main styles for this application
link(href='stylesheets/style.css', rel='stylesheet')

// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-345649-12')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-345649-12');
