extends ../layout/default.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .clearfix
          h1.float-left.display-3.mr-4 500
          h4.pt-3 Houston, we have a problem!
          p.text-muted The liquid is completely spilled, cleaning crew is notified, we will be cleaning this soon. Thanks for your patience.
